@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.logo {
  width: 5em; }

.bg-light {
  background-color: #364437 !important;
  transition: all 1.0s ease; }

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%; }

.nav-link {
  color: white !important; }

.btn-outline-oscuro {
  color: #fff;
  border-color: white; }

.transparent {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease; }

.bg-oscuro {
  background-color: white !important; }

.badge {
  color: #364437 !important; }

.btn:hover {
  color: white; }

#dropdown {
  display: none;
  position: fixed;
  top: 3.8rem;
  right: 3%; }

.dropdown .dropdown-menu {
  width: auto;
  right: 0;
  width: calc(100% - 1.5rem);
  right: .75rem; }

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute; }

.dropdown-list {
  width: 20rem !important; }

.dropdown-list {
  padding: 0;
  border: none;
  overflow: hidden; }

.dropdown .dropdown-menu {
  font-size: .85rem; }

.navbar-nav .dropdown-menu {
  position: static;
  float: none; }

.dropdown-menu.show {
  display: block; }

.dropdown-list .dropdown-header {
  padding-top: .75rem;
  padding-bottom: .75rem; }

.dropdown-list .dropdown-item {
  white-space: normal;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
  border-bottom: 1px solid #e3e6f0;
  line-height: 1.3rem; }

.align-items-center {
  align-items: center !important; }

.d-flex {
  display: flex !important; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: 0px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: 0px; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.product-image {
  width: 2em;
  height: 3em; }

.product-text {
  width: 38%; }

.trash-icon {
  margin-left: 30%;
  color: #fd6d6d; }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .buttons #comprar {
    background-color: #364437; }

.dropdown-item.active,
.dropdown-item:active {
  color: #1e2125;
  text-decoration: none;
  background-color: #e3e6f0; }

.row {
  width: 100%; }

p {
  margin-top: 0.3rem !important;
  font-size: large; }

.badgeAbs {
  position: fixed;
  margin-left: -0.8rem !important;
  margin-top: -0.5rem;
  background-color: #364437 !important;
  color: white !important; }

.swal2-confirm {
  padding: 0.9em 2.1875em;
  border: 0;
  border-radius: 0.1875em;
  background-color: #364437 !important;
  box-shadow: none;
  color: #fff;
  font-size: 1.125em;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer; }

.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px #8da58f; }

.active {
  display: block; }

.botones:hover {
  background-color: #364437; }

.py-5 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

body {
  overflow-x: hidden;
  font-family: "Quicksand"; }
  body .overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 599px;
    position: relative;
    background: #364437;
    overflow: hidden; }
  body .carousel-item img {
    opacity: 0.6; }
  body .slide_text {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 14em;
    z-index: 999; }
  body .fw-bolder {
    font-size: 1rem; }

/*Animación de las cards de productos*/
.delay-1 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.delay-2 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.delay-3 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.delay-4 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay-5 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.delay-6 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.delay-7 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.delay-8 {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #364437;
  padding: 25px 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-bottom: 25px;
  margin-bottom: 0px;
  color: white; }
  .footer div {
    width: 33%; }
    .footer div img {
      margin-left: 5em;
      margin-top: 2em;
      width: 41%;
      height: 29%; }
  .footer li p {
    margin-top: 0.5em;
    margin-bottom: 0 !important; }
  .footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10em;
    padding: 0em; }
  .footer a {
    color: white; }
  .footer .footerTitulo {
    font-weight: 400;
    font-size: x-large; }
  .footer .contenedorRedes div {
    width: 100%; }
  .footer .contenedorRedes .footerTitulo {
    margin-top: 0.5em !important; }
  @media only screen and (max-width: 576px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer div {
        width: 100%; }
        .footer div img {
          margin-left: 0;
          margin-top: 2em;
          width: 40%;
          height: 40%; }
      .footer .redes {
        margin: auto; }
      .footer .contenedorRedes {
        margin-left: 2em; }
        .footer .contenedorRedes div {
          width: 100%; } }
  @media only screen and (max-width: 576px) and (max-width: 768px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer div {
        width: 100%; }
        .footer div img {
          margin-left: 0;
          margin-top: 2em;
          width: 100%;
          height: 60%; }
      .footer .redes {
        margin: auto; }
      .footer ul {
        margin-left: -1em; }
      .footer .contenedorRedes {
        margin-left: 1em; }
        .footer .contenedorRedes div {
          width: 100%; } }
  @media only screen and (max-width: 992px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer div {
        text-align: center;
        width: 100%; }
        .footer div img {
          margin-left: 0;
          margin-top: 2em;
          width: 50%;
          height: 65%; }
      .footer .redes {
        margin: auto; }
      .footer ul {
        margin-left: -1em; }
      .footer .contenedorRedes {
        text-align: center;
        margin-left: 1em; }
        .footer .contenedorRedes div {
          width: 100%; } }

.btn-outline-info {
  color: #364437;
  border-color: #364437; }

.btn-primary {
  color: #fff;
  background-color: #8da58f;
  border-color: #8da58f; }

.btn-primary:hover {
  color: #fff;
  background-color: #364437;
  border-color: #364437; }

.btn-outline-info:hover {
  color: white;
  background-color: #364437;
  border-color: #364437; }
